*{
	margin:0;
	padding: 0;
	font-family: arial;
}


body{ 
    background: url(../img/stockholmContact.jpeg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;*/
    
}


a:-webkit-any-link {
    color: -webkit-link;
    text-decoration: none;
    cursor: auto;
}

/*HEADER*/

#header{
    
    background: none;
    height: 200px;
    text-align: center;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    
}

h1{
    color:white;
    size:2em;
    text-align: center;
    padding-top:30px;  
 
}

/*RETUTN*/

#back{
    color:white;
    font-size:2em;
    float:left;
    padding-left: 20px;

}

#return{
    font-size: 1em;

}

#return a{
    text-decoration: none;
    color:white;
}

#return a:hover{
    text-decoration: underline;
}



/*MEDIA */

.media{
    text-align: center;
    padding-right: 50px;
    padding-top: 20px;

}

.media li{
    list-style-type: none;
    text-decoration: none;
    display: inline-block;
    padding-left: 10px;

}

img{
    height:40px;
    width:40px;
    padding: 5px;
}

button{
    background-color: transparent;
    border:none;
}


button{
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

button:hover{
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}


#comment-button{
    font-size: 2em;
    text-decoration-style: none;
    width:100%;
    margin-top: 30px;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    border: 1px white;
}

#comment-button a{
    color:white;

}

button:focus{ 
    outline:none 
}






/* HAMBURGER & CROSS */
/*
button{
    background: transparent;
    border: none;
}

.cornerIcon{
    color:white;
    float:right;
    text-decoration: none;
    position: absolute;
    right: 0;
    font-size: 2em;
}

#hamburger{
    padding: 10px 60px 0 0;
    font-size: 2em;
}

#cross{
    padding: 10px 60px 0 0;
    font-size: 3.5em;
    display: none;
}
*/

/*HAMBURGER MENU*/
/*
.drop-menu{
    margin: 40px 0 0 30px;
    padding-top: 30px;
    border-style:none;
    list-style-type: none;  
    display:none;
}


#drop-menu-style{
    float: left;
    padding-left: 20px;
    list-style-type: none;
}

#drop-menu-style a{
    color:white;
    font-size: 2em;

}
*/


/*FOOTER*/

footer{
    text-align: center;
    color:white;
    height:50px;
    position: fixed;
    bottom:0;
    width:100%;
}

.clearfix:after {
content: “.”;
display: block;
clear: both;
visibility: hidden;
line-height: 0;
height: 0;
}

.clearfix {
display: inline-block;

}



/*MEDIA QUERIES*/
/*

@media screen and (max-width: 768px){

    #nav{
        display: none;
    }
   
}   


@media screen and (min-width: 768px){
    #hamburger{
        display: none;
    }

    #cross{
        display: none;
    }
    .dropmenu{
        display:none;
    }
)


*/



