*{
	margin:0;
	padding: 0;
	font-family: arial;
}


body{ 
    background: url(../img/stockholm.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;*/  
}




a:-webkit-any-link {
    color: -webkit-link;
    text-decoration: none;
    cursor: auto;
}


/*HEADER AND NAVIGATION*/

h1{
    color:white;
    size:2em;
    text-align: center;
    padding:30px;   
}

button:focus{ 
    outline:none 
}


header{
	height: 200px;
    text-align: center;    
}


#nav{
    margin: 0;
    overflow: hidden;
}

#nav li{
    list-style-type: none;
    display: inline-block;
}

#nav li a {
    color: white;
    padding: 10px;
    text-decoration: none;
    font-size: 1.2em;
    word-spacing: 2px;

}


li{
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

li:hover{
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}





/* HAMBURGER & CROSS */
button{
    background: transparent;
    border: none;
}

.cornerIcon{
    color:white;
    float:right;
    text-decoration: none;
    position: absolute;
    right: 0;
    font-size: 2em;
}

#hamburger{
    padding: 10px 60px 0 0;
    font-size: 2.5em;
}

#cross{
    padding: 10px 60px 0 0;
    font-size: 4em;
    display: none;
}

/*HAMBURGER MENU*/

.drop-menu{
    margin: 40px 0 0 30px;
    padding-top: 30px;
    border-style:none;
    list-style-type: none;  
    display:none;
}


#drop-menu-style{
    float: left;
    padding-left: 20px;
    list-style-type: none;
}

#drop-menu-style a{
    color:white;
    font-size: 2em;

}




/*MEDIA QUERIES*/


@media screen and (max-width: 768px){

    #nav{
        display: none;
    }
   
}   


@media screen and (min-width: 768px){
    #hamburger{
        display: none;
    }

    #cross{
        display: none;
    }
    .dropmenu{
        display:none;
    }
)






