*{
	margin:0;
	padding: 0;
	font-family: arial;
}


body{ 
    background: url(../img/stockholmLink1.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
}

/*HEADER*/

header{
	width:100%;
}

#title{
	color:white;
	size:1em;
    text-align: center;  
    margin-top: 20px;
    margin-bottom: 45px;
    width:100%;  
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    	
}	

#back{
	color:white;
	font-size:3em;
	float:left;
	padding-left: 30px;
	padding-top: 30px;
}

#return{
	
	font-size: 1.5em;
	padding-top: 35px;
}

#return a{
	text-decoration: none;
	color:white;
}

#return a:hover{
	text-decoration: underline;
}



/*CONTAINER*/

.flex-container{
	display: flex;
	width:100%;
	height: 50%;
	display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;


}

.flex-box{
	height: 280px;
	width:300px;
	background-color: #ffffff;
	opacity: 0.9;
	margin-top: 30px;
}

.image{
	margin-top: 40px;
	margin-left: 25px;
	position: relative;
}





/*DROP MENU*/

#info1, #info2, #info3{
	padding: 15px 20px;
	background-color: white;
	opacity: 0.8;
	display: none;
	position: relative;

	
}




/*MEDIA QUERIES*/

@media only screen and (max-width: 950px){

.flex-container{
	flex-direction: column;
	height: 800px;
	width:300px;
	justify-content: center;
}

.flex-box{
	justify-content: center;
	margin-top: 0;
	margin-left: 200px;
	height: auto;
	position: relative;
}

#title{
	height: 100px;
	width: 350px;
}

footer{
	height: 30px;
	color:transparent;
}

.image{
	position: relative;
}

#flex3{
	padding-bottom: 35px;
}



}






